<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">


   <!-- Mirrored from themesflat.co/html/ecomus/home-stroller.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Jul 2025 16:17:32 GMT -->
   <head>
        <meta charset="utf-8">
        <title>Ecomus - Ultimate HTML</title>

        <meta name="author" content="themesflat.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description"
              content="Themesflat Ecomus - A modern and versatile eCommerce template designed for various online stores, including fashion, furniture, electronics, and more. SEO-friendly, fast-loading, and highly customizable.">

        <!-- font -->
        <link rel="stylesheet" href="~/site/fonts/fonts.css">
        <link rel="stylesheet" href="~/site/fonts/font-icons.css">
        <link rel="stylesheet" href="~/site/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/site/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="~/site/css/animate.css">
        <link rel="stylesheet" type="text/css" href="~/site/css/styles.css" />

        <!-- Favicon and Touch Icons  -->
        <link rel="shortcut icon" href="~/site/images/logo/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="~/site/images/logo/favicon.png">

    </head>
    <body class="preload-wrapper">

        <a href="#" id="toggle-rtl" class="tf-btn animate-hover-btn btn-fill">RTL</a>
        <!-- /RTL  -->
        <!-- preload -->
        <div class="preload preload-container">
            <div class="preload-logo">
                <div class="spinner"></div>
            </div>
        </div>
        <!-- /preload -->
        <div id="wrapper">
            <!-- Announcement Bar -->
            <div class="announcement-bar bg_brown-2">
                <div class="container-full">
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-8 col-12 text-center wrap-announcement-bar-2">
                            <div dir="ltr" class="swiper tf-sw-top_bar" data-preview="1" data-space="0" data-loop="true"
                                    data-speed="1000" data-delay="2000">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <p class="noti-bar-text text-white fw-5">Welcome to our store</p>
                                    </div>
                                    <div class="swiper-slide">
                                        <p class="noti-bar-text text-white fw-5">The best HTML theme</p>
                                    </div>
                                </div>
                            </div>
                            <div class="navigation-topbar nav-next-topbar"><span class="icon icon-arrow-left"></span></div>
                            <div class="navigation-topbar nav-prev-topbar"><span class="icon icon-arrow-right"></span></div>
                        </div>
                    </div>
                    <span class="icon-close close-announcement-bar"></span>
                </div>
            </div>
            <!-- /Announcement Bar -->
            
            @await Component.InvokeAsync("Header")

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
         
            </div>

            @await Component.InvokeAsync("Footer")


        </div>

        <!-- Javascript -->
        <script src="~/site/js/bootstrap.min.js"></script>
        <script src="~/site/js/jquery.min.js"></script>
        <script src="~/site/js/swiper-bundle.min.js"></script>
        <script src="~/site/js/carousel.js"></script>
        <script src="~/site/js/bootstrap-select.min.js"></script>
        <script src="~/site/js/lazysize.min.js"></script>
        <script src="~/site/js/count-down.js"></script>
        <script src="~/site/js/wow.min.js"></script>
        <script src="~/site/js/multiple-modal.js"></script>
        <script src="~/site/js/main.js"></script>

    </body>
</html>
